[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "python starter"

[requires]
python_version = "3.12"

[packages]
nitric = "==1.2.2"

[scripts]
dev = "watchmedo auto-restart -p '*.py' -R python -- -u"

[dev-packages]
watchdog = "*"
